/*
Agridence API

Agridence

API version: v1.1
Contact: it@agridence.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package arp_sdk_go_v1

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// OfferPanelApiService OfferPanelApi service
type OfferPanelApiService service

type ApiOfferPanelFilterListRequest struct {
	ctx context.Context
	ApiService *OfferPanelApiService
	page *int32
	pageSize *int32
}

// A page number within the paginated result set.
func (r ApiOfferPanelFilterListRequest) Page(page int32) ApiOfferPanelFilterListRequest {
	r.page = &page
	return r
}

// Number of results to return per page.
func (r ApiOfferPanelFilterListRequest) PageSize(pageSize int32) ApiOfferPanelFilterListRequest {
	r.pageSize = &pageSize
	return r
}

func (r ApiOfferPanelFilterListRequest) Execute() (*OfferPanelFilterList200Response, *http.Response, error) {
	return r.ApiService.OfferPanelFilterListExecute(r)
}

/*
OfferPanelFilterList Method for OfferPanelFilterList

Endpoint to return the offer panel filter

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOfferPanelFilterListRequest
*/
func (a *OfferPanelApiService) OfferPanelFilterList(ctx context.Context) ApiOfferPanelFilterListRequest {
	return ApiOfferPanelFilterListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OfferPanelFilterList200Response
func (a *OfferPanelApiService) OfferPanelFilterListExecute(r ApiOfferPanelFilterListRequest) (*OfferPanelFilterList200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OfferPanelFilterList200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OfferPanelApiService.OfferPanelFilterList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/offer-panel/filter/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "")
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
